<!DOCTYPE html>
<html>
<head>
  <title>FactorySpecs</title>
  <%= stylesheet_link_tag    "factory_specs/application", media: "all" %>
  <%= javascript_include_tag "factory_specs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
